
{% extends 'base.html' %}
{% block head %}
    <meta charset="UTF-8">
    <title>Spam Detector</title>

{% endblock %}
{% block body %}
    <div class="mt4 shadow-3 pa4 center">
    <form method="post" action="/submit/">
        <div>
        <label>Enter Website</label>
        <input type="text" name="message" class="ml2">
        </div>
        <div class="center ma1">
        <input type="submit" value="Submit" class="f6 link dim mt3 br3 ph3 pv2 mb2 dib">
        </div>
    </form>
    </div>
{% endblock %}
